[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pendulum = "*"
aiosqlite = "==0.21.0"
fastapi = {extras = ["standard"], version = "==0.115.13"}
pydantic-settings = "==2.10.1"
redis = "==6.2.0"
sqladmin = {extras = ["full"], version = "==0.20.1"}
sqlalchemy = "==2.0.41"
alembic = "==1.16.2"
python-jose = {extras = ["cryptography"], version = "==3.5.0"}

[dev-packages]

[requires]
python_version = "3.12"
